# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Aula02HelloWorld/nbproject/private/
/Aula02HelloWorld/build/
/Aula03JavaEEServlets/nbproject/private/
/Aula03JavaEEServlets/build/
/Aula04JavaEEServlets/nbproject/private/
/Aula04JavaEEServlets/build/
/Aula05JavaEEJSP/nbproject/private/
/Aula05JavaEEJSP/build/
/Aula05JavaEEJSP-Calendario/nbproject/private/
/Aula05JavaEEJSP-Calendario/build/
/Aula06JSPIncludes/nbproject/private/
/Aula06JSPIncludes/build/
/Projeto-Calculo-Amortizacao/nbproject/private/
/Projeto-Calculo-Amortizacao/build/
/7.1 - Controle de sessão/nbproject/private/
/7.1 - Controle de sessão/build/
/Aula07Session/nbproject/private/
/Aula07Session/build/
/Aula07Context/nbproject/private/
/Aula07Context/build/
/ControleDeSessão/nbproject/private/
/ControleDeSessão/build/
/P1-Lucas-Reis/nbproject/private/
/P1-Lucas-Reis/build/
/P1/nbproject/private/
/P1/build/
/P1-POO-v2/nbproject/private/
/P1-POO-v2/build/
/P1-POO/nbproject/private/
/P1-POO/build/
/Aula11-POO/nbproject/private/
/Aula11-POO/build/
/Aula12Jdbc/nbproject/private/
/Aula12Jdbc/build/
/JavaEE+SQLite - P2/nbproject/private/
/JavaEE+SQLite - P2/build/
/JavaEE+SQLite/nbproject/private/
/JavaEE+SQLite/build/
/JavaEE+SQLiteV2/nbproject/private/
/JavaEE+SQLiteV2/build/
/Aula04JavaEE/nbproject/private/
/Aula04JavaEE/build/
/04-Servlets-com-parâmetros/nbproject/private/
/04-Servlets-com-parâmetros/build/
/05 - Projeto JurosCalc (com servlets)/nbproject/private/
/05 - Projeto JurosCalc (com servlets)/build/
